@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';
@import '../../assets/scss/functions';

div.top-bar {
  position: relative;
  width: 100%;
  @include rem(padding-left, 30px);
  @include rem(padding-right, 30px);
  background-color: $color-topbar-bg;
  z-index: 100;

  @include _clearfix();

  .menu {
    float: right;

    > li {
      margin: 0;
    }

    a {
      display: block;
      @include rem(padding-left, 10px);
      @include rem(padding-right, 10px);
      @include rem(line-height, 40px);
      color: $color-topbar-font;
      text-decoration: none;
      transition: $transition-all;

      &:hover {
        background-color: darken($color-topbar-bg, 10%);
      }
    }
  }
}

header.main-header {
  position: relative;
  @include rem(min-height, $header-height);
  background-color: $color-header-bg;
  box-shadow: $shadow-header;
  z-index: 90;

  @include _clearfix();

  .site-logo {
    float: left;
    width: $header-logo-width;
    @include rem(padding-top, 30px);
    @include rem(padding-bottom, 30px);
    @include rem(padding-right, 30px);
    @include rem(padding-left, 30px);
    background-color: $color-header-logo-bg;

    a,
    img {
      display: block;
    }
  }
}

.site-job-search {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100% - $header-logo-width;
  @include rem(padding-right, 30px);
  @include rem(padding-left, 30px);

  .search-input {
    float: left;
  }

  input[type="text"],
  input[type="tel"],
  input[type="date"],
  input[type="number"],
  input[type="password"] {
    display: block;
    height: 100%;
    width: 100%;
    @include rem(padding-left, 13px);
    @include rem(padding-right, 13px);
    background: transparent;
    box-shadow: none;
    outline: none;
  }

  .input-full:not(.btn):not(.btn-primary) {
    background-color: $color-search-input-bg;
  }

  .input-border {
    border: 2px solid #{$color-search-input-bg};
  }

  .input-search-websites,
  .input-search-submit,
  .input-locale {
    button {
      margin: 0;
      padding: 0;
      border: none;

      display: block;
      width: 100%;
      height: 100%;
    }
  }

  .input-locale {
    min-width: get-width(66px, 80%);
    height: 40%;

    button {
      padding: get-width(66px, 80%, false) - get-width(6px, get-width(66px, 80%), false) + %;
    }

    img {
      width: auto;
      height: 100%;
    }
  }

  .input-search-term,
  .input-search-location{
    width: get-width(300px, 80%);
    height: 40%;

    input {
      // TODO: Change it or sort out how it works
      // I've found out that dividing design width with design font size will produce the best divider for the calc
      font-size: by-viewport-size(12px, 20px); // Not sure why it fits, but it's the best scaling font size
      color: $color-search-font;
    }

    small {
      margin-left: get-width(30px);
      margin-top: get-width(20px);
      font-size: by-viewport-size(8px, 12px);
      color: $color-search-field-description;
    }
  }

  .input-search-websites {
    width: get-width(150px, 80%);
    height: 40%;
  }

  .input-search-submit {
    width: get-width(135px, 80%);
    height: 40%;

    button {
      font-size: by-viewport-size(10px, 16px);
      font-weight: $font-bold;
      text-transform: uppercase;
    }
  }
}
