@import 'functions';
@import 'variables';

@mixin rem($property, $size, $base: $base-font-size) {
  #{$property}: strip-unit($size) + px;
  #{$property}: (strip-unit($size) / strip-unit($base)) + rem;
}

@mixin _clearfix() {
  &:before,
  &:after {
    content: ' ';
    clear: both;
    display: table;
  }
}

@mixin flex-center($min-height: 600px) {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: $min-height;
  height: 100vh;
}
