// Default settings
$width-divider: 1366 / 100;
$base-font-size: 16px!default;
$transition-all: all .2s ease-in-out;

// Topbar
$color-topbar-bg: #edba3b!default;
$color-topbar-font: #ffffff!default;

// Header
$header-height: 100px;
$header-logo-width: 20%;
$shadow-header: 3px 0 7px rgba(0, 0, 0, 0.1);
$color-header-bg: #4b4b4b!default;
$color-header-logo-bg: #ffffff!default;
