<div class="top-bar">
  <ul class="menu horizontal-menu">
    <li class="single-item"><a href="#" title="About">About</a></li>
    <li class="single-item"><a href="#" title="Request new website">Request new website</a></li>
    <li class="single-item"><a href="#" title="Contact">Contact</a></li>
  </ul>
</div>
<header class="main-header">
  <div class="site-logo">
    <a href="#" title="JOBSlib">
      <img src="../../assets/images/logo.svg" alt="JOBSlib logo" />
    </a>
  </div>
  <div class="site-job-search">
    <div class="search-input input-full input-locale" dropdownContainer>
      <button class="input-full"><img src="../../assets/images/flags/us.svg" alt="country flag" /></button>
      <app-dropdown-list></app-dropdown-list>
      <input type="hidden" value="" />
    </div>
    <div class="search-input input-search-term box-container">
      <input type="text" class="input-border" placeholder="What are you looking for?" />
      <small class="box-children">job title, skill, keyword, etc.</small>
    </div>
    <div class="search-input input-search-location box-container">
      <input type="text" class="input-border" placeholder="Where?" />
      <small class="box-children">city, town, state or zip code</small>
    </div>
    <div class="search-input input-search-websites box-container">
      <button class="input-full">Websites</button>
      <input type="hidden" value="" />
    </div>
    <div class="search-input input-search-submit">
      <button class="btn-primary input-full">Scan now</button>
      <input type="hidden" value="" />
    </div>
  </div>
</header>
