// Vendors
@import './assets/scss/variables';
@import './assets/scss/mixins';

// Import normalize
@import './assets/scss/normalize';

* {
  box-sizing: border-box;

  &:before,
  &:after {
    box-sizing: border-box;
  }
}

html {
  font-size: $base-font-size;
}

body {
  font-family: $font-family;
  background-color: $color-light-grey;
  background-image: url(./assets/images/bg-image.jpg);
  background-size: cover;
  background-position: right 75%;
  background-repeat: no-repeat;
}

/*
  Misc
 */
.clearfix {
  @include _clearfix();
}

.box-container {
  position: relative;
}

.box-children {
  position: absolute;
}

.page_number {
  width: 100px;
  height: 100px;
  margin: 0;
  line-height: 100px;
  text-align: center;
  font-size: 35px;
  color: #fff;
  border-radius: 50%;
  background-color: #ccc;
}

/*
  Buttons
 */
.btn {
  display: inline-block;
  @include rem(padding-left, 20px);
  @include rem(padding-right, 20px);
  @include rem(padding-top, 10px);
  @include rem(padding-bottom, 10px);
  color: $color-btn-font;
  background-color: $color-btn;

  &:hover {
    color: $color-btn-font-hover;
    background-color: $color-btn-hover;
  }
}

.btn-primary {
  color: $color-btn-font-primary;
  background-color: $color-btn-primary;

  &:hover {
    color: $color-btn-font-hover-primary;
    background-color: $color-btn-hover-primary;
  }
}

/*
  Form styling
 */
input.form-control {
  display: block;
  width: 100%;
  @include rem('padding-top', 15px);
  @include rem('padding-bottom', 15px);
  @include rem('padding-left', 20px);
  @include rem('padding-right', 20px);
  @include rem('font-size', 18px);
  border: 0;
  box-shadow: none;

  &:focus {
    outline: none;
  }
}

/*
  Sidebar styling
 */
.sidebar_container {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: $width-aside;
  min-height: 768px;
  height: 100vh;
  background-color: $color-aside-bg;
  border-right: 1px solid #{$color-dark-grey-border};
  z-index: 100;

  header.sidebar_container-header {
    padding: 30px 30px 40px;
    border-bottom: 1px solid #{$color-dark-grey-border};

    h1 {
      margin: 0;
      font-weight: 500;
      font-size: 44px;
      text-transform: uppercase;
    }
  }
}

/*
  Menu styling
 */
.navigation_list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation_item-link {
  display: block;
  text-decoration: none;
  cursor: pointer;
}

.menu {
  margin: 0;
  padding: 0;
  list-style: none;
}

.horizontal-menu {
  > li {
    float: left;
    @include rem('margin-left', 20px);

    &:first-child {
      margin-left: 0;
    }
  }

  @include _clearfix();
}

/*
  Main container
 */
.main_container {
  min-height: 600px;
  height: 100vh;
  margin-left: $width-aside;
}
