// Vendors
@import './assets/scss/variables';
@import './assets/scss/mixins';

// Import normalize
@import './assets/scss/normalize';

* {
  box-sizing: border-box;

  &:before,
  &:after {
    box-sizing: border-box;
  }
}

html {
  font-size: $base-font-size;
}

body {
  font-family: $font-family;
  background-color: #e4e4e4;
}

/*
  Misc
 */
.clearfix {
  @include _clearfix();
}

.box-container {
  position: relative;
}

.box-children {
  position: absolute;
}

/*
  Buttons
 */
.btn {
  display: inline-block;
  @include rem(padding-left, 20px);
  @include rem(padding-right, 20px);
  @include rem(padding-top, 10px);
  @include rem(padding-bottom, 10px);
  color: $color-btn-font;
  background-color: $color-btn;

  &:hover {
    color: $color-btn-font-hover;
    background-color: $color-btn-hover;
  }
}

.btn-primary {
  color: $color-btn-font-primary;
  background-color: $color-btn-primary;

  &:hover {
    color: $color-btn-font-hover-primary;
    background-color: $color-btn-hover-primary;
  }
}

/*
  Menu styling
 */
.menu {
  margin: 0;
  padding: 0;
  list-style: none;
}

.horizontal-menu {
  > li {
    float: left;
    @include rem('margin-left', 20px);

    &:first-child {
      margin-left: 0;
    }
  }

  @include _clearfix();
}
