<nav class="navigation--primary">
  <ul class="navigation_list">
    <li class="navigation_item">
      <a routerLink="/home" routerLinkActive="active" class="navigation_item-link">Home</a>
    </li>
    <li class="navigation_item">
      <a routerLink="/search" routerLinkActive="active" class="navigation_item-link">Listing</a>
    </li>
    <li class="navigation_item">
      <a routerLink="/home" routerLinkActive="active" class="navigation_item-link">Saved</a>
    </li>
    <li class="navigation_item">
      <a routerLink="/home" routerLinkActive="active" class="navigation_item-link">About</a>
    </li>
    <li class="navigation_item">
      <a routerLink="/home" routerLinkActive="active" class="navigation_item-link">Contact</a>
    </li>
  </ul>
</nav>
